@charset "euc-kr";
body {-webkit-text-size-adjust: 100%;}
.center_box {width:100%; max-width:1200px; margin:0 auto;  position:relative;}
h2 {margin:0 auto; width:95%;}
h2 img {width:100%;}
input:focus {outline:none;}

/*헤더*/
.header_wrap {height:135px; position:relative;}
.header_wrap h1 { padding-top:28px;}
.header_wrap .right_txt {position:absolute; right:0; top:90px;}
.header_wrap .right_txt > div {float:left;}
.header_wrap .right_txt .call a {color:#002c5e; font-size:20px;}
.header_wrap .right_txt .call a img { margin-right:5px;}
.header_wrap .right_txt .call {background:url(../images/line.png) no-repeat center right; margin-right:20px; padding-right:20px;}
.header_wrap .right_txt .online a {color:#666666; font-size:20px;}
.mobimg {display:none;}

/**/
.main_visual img {width:100%;}

/*탭기능*/
.tabs_wrap {background-color:#e0edfb; padding:50px 0; margin-bottom:100px;}
.tab_box {max-width:990px; width:95%; box-sizing:border-box; border:1px solid #ddd; margin:0 auto;}
.the_tab {border-bottom:1px solid #ddd; height:134px; background:url(../images/tab_bg.png) no-repeat center;}
.the_tab dl {padding:33px 0 0 45px;}
.the_tab dl dt {font-size:35px; color:#231815; font-weight:500; margin-bottom:17px;}
.the_tab dl dd {font-size:16px; color:#7b7b7b;}
.the_tab a { display:block; width:100%; height:100%;}
.the_tab:hover {background:url(../images/tab_on.png) no-repeat center;}
.the_tab:hover dl dt, .the_tab:hover dl dd {color:#fff;}
#close03 {border-bottom:none;}
.opened {background:url(../images/open_bg.png); color:#fff; position:relative; display:none;}
.close_btn {display:block; margin:0 auto; position:absolute; top:0; left:1px; right:0; text-align:center;}
.sab_list {box-sizing:border-box; padding:67px 45px; font-size:20px; line-height:1.2;}
.sab_list > span {font-size:18px}
.sab_list li {margin-bottom:15px; background:url(../images/list_icon.png) no-repeat top 1px left; background-size:35px 35px; -webkit-background-size:35px 35px; padding:6px 0 6px 47px;}
p.sab_list { line-height:1.5;}

/*이달의 특가차종*/
.month_price { margin-bottom:100px;}
.month_price h2 {text-align:center; max-width:372px;}
.price_info {font-size:30px; color:#333; font-weight:300; text-align:center; margin:23px 0 50px 0; line-height:1.2;}
.car_wrap {border:2px solid #0087b5; box-sizing:border-box;}
.car_box {max-width:990px; margin:0 auto; overflow:hidden; padding-top:80px;}
.car_box li {float:left; width:50%; box-sizing:border-box; margin-bottom:80px;}
.car_box li:nth-child(even) { padding-left:7%;}
.car_box li:nth-child(odd) { padding-left:3%;}
.car_box li dl dt {font-size:30px; font-weight:700; margin-bottom:11px; color:#000000; line-height:1.2;}
.car_box li dl dd {font-size:30px; font-weight:300; color:#333333;}
.car_price {color:#ff0000; font-weight:300; font-size:30px;  margin-top:23px;}
.car_price b {font-size:40px; font-weight:700;}
.car_img {height:208px; position:relative; display:inline-block; clear:both;}
.car_img .mark {position:absolute; left:-20px; top:-30px; width:65px;}
.car_img .mark img {width:100%;}
.car_info {text-align:center; font-size:15px; color:#898989; line-height:1.4; font-weight:350; margin:27px auto 0 auto; width:95%;}

/*상담*/
.consulting { margin-bottom:100px;}
.consulting h2 {text-align:center; max-width:486px;}
.frm_wrap {background-color:#f6f6f6; padding:50px 0;}
.consult_box {background-color:#fff; border:1px solid #ddd; box-sizing:border-box; max-width:1100px; margin:0 auto; overflow:hidden;}
.ftr {width:100%; height:50px; line-height:50px; border-bottom:1px solid #ddd; display:table;}
.ftr .fth {width:114px; background-color:#3c3c3c; color:#fff; text-align:center; height:100%; display:table-cell; vertical-align:middle; font-size:18px;}
.ftr .ftd {height:100%; padding:0 10px; box-sizing:border-box; display:table-cell;}
.ftr .ftd input[type=text], .ftr .ftd input[type=number]  {border:1px solid #ddd; padding-left:10px; font-size:18px}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ftr .ftd input[type=text] {width:100%; box-sizing:border-box;}
.ftr .ftd input.cell_numb {width:56px; display:inline-block;}
.select_wrap {position:relative; display:inline-table; width:100%; font-size:18px; height:26px; border:1px solid #ddd; background-color:#fff; background:url(../images/select.png) no-repeat center right 10px; line-height:27px;
margin:6px 10px 0 0;}
.select_wrap span {display: block; height:30px; padding-left: 10px; text-align: left; font-size:18px;}
.sub_sel {width:100%; font-size:18px; height:30px; background-color:#fff; opacity:0; position:absolute; left:0; top:0; display:block; padding-left:10px; filter: alpha(opacity=0); z-index:1;
 appearance: none; -webkit-appearance: none;  -moz-appearance: none; -o-appearance:none;}
.type {width:80px;}
.manuf {width:92px;}
.model {width:230px;}
.col01, .col02, .col03 {width:366px; float:left;}
.check_tr {text-align:center; min-height:38px; background-color:#3c3c3c; color:#fff; font-size:18px; line-height:1.3; position:relative; padding:10px; display:table; width:100%;}
.check_tr .check_wrap { display:table-cell; vertical-align:middle; padding:10px;}
.check_tr input[type=checkbox] {position: absolute; right:0; width:1px; height:1px; padding:0; border: 0 none; margin: 0; top: 0; overflow: hidden; clip:rect(0 0 0 0);}
.check_tr label {background:url(../images/uncheck.png) no-repeat center left; padding-left:35px; font-size:18px;}
.check_tr input[type="checkbox"]:checked+label {background:url(../images/checked.png) no-repeat center left;}
.view_all {text-align:center; font-size:18px; height:50px; line-height:50px; clear:both; cursor:pointer;}
.view_all span {background:url(../images/text_open.png) no-repeat center right; background-size:20px auto; -webkit-background-size:20px auto; padding-right:30px;}
.view_all .text_close {background:url(../images/text_close.png) no-repeat center right; background-size:20px auto; -webkit-background-size:20px auto;}
.input_area {padding:30px; height:250px; clear:both; overflow-y:scroll; line-height:1.4; font-weight:300; font-size:15px; color:#898989; display:none;}

.submit {width:100%; max-width:395px; height:60px; margin:40px auto 0 auto; background-color:#002c5e;}
.submit a {color:#fff; display:block; width:100%; height:100%; text-align:center; line-height:60px; font-size:20px;}

/*푸터*/
.footer_wrap {background-color:#333333; text-align:center; color:#a5a5a5; font-size:14px; padding:53px 0 40px 0; }
.foot_info {line-height:1.5;}
.foot_info span {padding-right:15px; margin-right:15px; background:url(../images/footer_bg.png) no-repeat center right;}
.foot_info span:last-child { margin-right:0; padding-right:0; background:none;}
.foot_info .bus_nub {display:block;}
.copy {font-weight:300; margin-top:30px; line-height:1.2;}


@media screen and (max-width:1150px) {
/*헤더*/
.header_wrap {width:95%; margin:0 auto;}

/*상담*/
.consult {width:95%; margin:0 auto;}
/*.col01, .col02, .col03 {width:50%;}*/
.col01, .col02, .col03 {width:100%; float:none;}
.ftr .ftd input.cell_numb {width:27.1%;}

/*이달의 특가차종*/
.car_wrap {width:95%; margin:0 auto;}
.car_box {text-align:center; width:95%;}
.car_box li {float:inherit; width:100%;}
.car_box li:nth-child(even) { padding-left:0;}
.car_box li:nth-child(odd) { padding-left:0;}
.car_img {height:auto; margin-bottom:25px;}
	}

@media screen and (max-width:800px) {
/*탭기능*/
.the_tab dl { padding:0 15px; display:table-cell; vertical-align:middle;}
.the_tab dl dt {font-size:25px; line-height:1.2; margin-bottom:7px;}
.the_tab a {display:table;}

/*상담*/
.col01, .col02, .col03 {width:100%; float:none;}

/*푸터*/
.foot_info span { display:block; margin-right:0; padding-right:0; background:none;}
	}

@media screen and (max-width:630px) {
/*헤더*/
.header_wrap {height:150px;}
.header_wrap .right_txt {position:static; margin-top:13px;}
/*.header_wrap .right_txt {top:22px;}
.header_wrap .right_txt > div {text-align:right; float:none;}
.header_wrap .right_txt .call { margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #ddd; margin-right:0; padding-right:0; background:none;}*/

/*탭기능*/
.type, .manuf, .model {width:100%; margin-right:0;}
.model { margin-bottom:6px;}
}

@media screen and (max-width:500px) {
/*헤더*/
.header_wrap {height:150px;}
.header_wrap h1 {padding-top:22px; width:140px;}
.header_wrap h1 img {width:100%;}
.mobimg {display:block;}
.pcimg {display:none;}

/*탭기능*/
.sab_list {padding:67px 20px;}
.the_tab {background:url(../images/tab_bg_m.png) center;}
.the_tab:hover {background:url(../images/tab_on_m.png) center;}

/*이달의 특가 차종*/
.car_box li img {width:95%;}
.car_img .mark {left:0;}

/*상담*/
.consulting { margin-bottom:0;}
/*.nb_wrap span {display:none;}*/
.ftr .ftd input.cell_numb {box-sizing:border-box; padding-left:5px; width:28%; font-size:16px;}
.nb_wrap input:first-child {margin-top:6px;}
	}

@media screen and (max-width:400px) {
/*이달의 특가 차종*/
.car_price span {display:block; line-height:1.4;}
}

@media screen and (max-width:359px) {
.header_wrap .right_txt .call { margin-right:5px; padding-right:5px;}
}
